<!DOCTYPE html>
<link rel="stylesheet" href="/css/signup.css">
<form action="/login" method="POST">
    <div class="container">
        <h1>Sign In</h1>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

        <button type="submit" class="registerbtn">Sign In</button>
    </div>
    <div class="container signin">
        <p>Create an Account <a href="/signup">Sign up</a>.</p>
    </div>
    <br>
    <div class="errors">
        <p style="color:red;text-align:center;">
            {{if .}}
            {{.}}
            {{end}}
        </p>
    </div>
</form>